@inject BirthdayHandler _birthdayHandler

@{
    int month = @Model;
    var months = CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;

    if (month == -1)
    {
        for (int i = 0; i < months.Length; i++)
        {
            <a asp-controller="Birthday" asp-action="Overview" asp-route-month="@i">@months[i]</a>
            <br/>
        }
        <a asp-controller="Birthday" asp-action="Index">Till alla UpAndComing födelsedagar</a>
    }
    else
    {
        <h1>Månad: @months[month]</h1>
        <a asp-controller="Birthday" asp-action="Overview">Länk tillbaks</a>

        var birthdays = _birthdayHandler.Birthdays;

        foreach (var b in birthdays)
        {
            if (b.BirthDate.Month == (month + 1))
            {
                <p>@b.Name fyller år dag @b.BirthDate.Day denna månaden</p>
            }
        }

    }
}

@section Style {
    <style>
        html{
            background-color: #76c756;
        }
    </style>
}